@model LMS_WEB.Models.DTO.Book.BookDTO


<form asp-action="DeleteBook">
    <br />
    <div class="container border p-3">
        <h1 class="text-primary">Delete Book</h1>
        <hr />

        <div class="row">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="col-2">
                <label asp-for="BookId" class="control-label pt-2" style="font-size:20px;"></label>
            </div>
            <div class="col-10 pb-3">
               
                <span asp-validation-for="BookId" disabled class="text-danger"></span>
            </div>

            <div class="col-2">
                <label asp-for="Title" class="control-label pt-2" style="font-size:20px;"></label>
            </div>
            <div class="col-10 pb-3">
            
                <span asp-validation-for="Title" disabled class="text-danger"></span>
            </div>

            <div class="col-2">
                <label asp-for="Description" class="control-label pt-2" style="font-size:20px;"></label>
            </div>
            <div class="col-10 pb-3">
                <span asp-validation-for="Description" disabled class="text-danger"></span>
            </div>

            <div class="col-2">
                <label asp-for="Publisher" class="control-label pt-2" style="font-size:20px;"></label>
            </div>
            <div class="col-10 pb-3">
                <span asp-validation-for="Publisher" disabled class="text-danger"></span>
            </div>

            <div class="col-2">
                <label asp-for="Language" class="control-label pt-2" style="font-size:20px;"></label>
            </div>
            <div class="col-10 pb-3">
                <span asp-validation-for="Language" disabled class="text-danger"></span>
            </div>

            <div class="col-2">
                <label asp-for="ISBN" class="control-label pt-2" style="font-size:20px;"></label>
            </div>
            <div class="col-10 pb-3">
                <span asp-validation-for="ISBN" disabled class="text-danger"></span>
            </div>

            <div class="col-2">
                <label asp-for="CallNumber" class="control-label pt-2" style="font-size:20px;"></label>
            </div>
            <div class="col-10 pb-3">
                <span asp-validation-for="CallNumber" disabled class="text-danger"></span>
            </div>

            <div class="col-2">
                <label asp-for="MaxIssueDays" class="control-label pt-2" style="font-size:20px;"></label>
            </div>
            <div class="col-10 pb-3">
                <span asp-validation-for="MaxIssueDays" disabled class="text-danger"></span>
            </div>


     
            <div class="col-5 offset-2">
                <a asp-action="IndexBook" asp-controller="Book" class="btn-primary btn form-control ">Back to List</a>
            </div>
            <div class="col-5">
                <input type="submit" value="Delete" class="btn btn-success form-control" />
            </div>
        </div>
    </div>
</form>



@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
